<h2 class="page-title">PKA Form Home</h2>
<div class="page-container">
    <div class="tool-card">
        <md-card>
            <md-card-header>
                <div class="centeredtext">
                    <h4>Online field generation for you web interface</h4>
                </div>
            </md-card-header>
            <md-card-content class="content">
                <div class="container">
                    <div class="material">
                        <h3>Click Circles for More Info</h3>
                        <div class="background background1" id="about" (click)="circleClick($event)"><span>About</span>

                            <div class="desc" (click)="circleClick($event)">
                                <h3>
                                Previously Known as Forms
                            </h3>

                                <p>
                                    Is a dynamic form generation system that allows an Admin type user to create forms for end user input. This system generates the layout and stores the form itself for later use. Eventually when the end user provides form data, the form will store said data in a dynamic unstructored data store.
                                </p>

                            </div>

                        </div>
                        <div class="background background2" id="tech" (click)="circleClick($event)"><span>Tech</span>

                            <div class="desc" (click)="circleClick($event)">
                                <h3>
                                Previously Known as Forms Built with the Following...
                            </h3>

                                <ul>
                                    <li>Angular 2</li>
                                    <li>Typescript</li>
                                    <li>Material Design</li>
                                    <li>NodeJS</li>
                                    <li>Express</li>
                                    <li>Mongo DB</li>
                                </ul>

                            </div>

                        </div>
                        <div class="background background3" id="front" (click)="circleClick($event)"><span>Cloud</span>
                            <div class="desc" (click)="circleClick($event)">
                                <h3>
                                Previously Known as Forms Cloud Implementation
                            </h3>
                                <p>
                                    Both the front-end ui hosting and the dynamic database have been created and deployed to Firebase Cloud System.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>