/* 
* main sass 
*/

@import '~@angular/material/core/theming/all-theme';
@import './common/styles/style.variables';
@import './common/styles/material.theme';
@import './common/styles/toolbar';
@import './common/styles/app.page';
@import './common/styles/material.cards';
@import '~@angular/material/toolbar/toolbar.scss';
@import '~@angular/material/button/button.scss';
@import '~@angular/material/card/card.scss';
@import '~@angular/material/grid-list/grid-list.scss';
@import './admin/admin.component';
@import './elements/form-elements';
@import './landing/_landing.component.scss';

@include md-core();
md-toolbar {
    -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.app-content {
    min-height: 500px;
}
